*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 16px;
}
/* colors */
:root{
--blue: #00a6ff;
--black: #101416;
}
body{
  background-color: var(--black);
  height: 100%;
  width: 100%;
  padding-top: 10px;
}
